<div ng-controller="DeckManagerController">
  <ul>
    <li ng-repeat="deck in allDecks">
      <a ng-href="/deck/edit/deck.id">
        <span ng-bind="deck.name"></span> [<span ng-bind="deck.id"></span>]
      </a>
      <button ng-hide="changeDeckName === deck.id" ng-click="changeDeckName = deck.id">Edit</button>
      <form ng-show="changeDeckName === deck.id" ng-submit="setDeckName(deck.id, newDeckName); changeDeckName = null">
        <input type="text" ng-model="newDeckName" placeholder="Deck Name"></input>
        <input type="submit" value="Rename Deck"></input>
      </form>
    </li>
  </ul>
</div>
